#note-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1vh;
}

#note-content p {
	overflow: hidden;
	height: 6vmin;
	font-size: 3.5vmin;
	line-height: 1;
}
